@media screen and (max-width:768px){
	.horario{
		margin-left: 34%;
		margin-bottom: 2%;
	}
	.search{
		margin-left: -5%;
		margin-top: 5%;
	}
	.nav3{
		margin-top: -16% !important;
	    float: right;
	    margin-right: 1%;
	}
	.carousel-caption{
		top: -21px !important;
	}
	.banner1{
		margin-bottom: 2%;
	}
	.menu-productos1{
		font-size: 15px !important;
	    top: -17px !important;
	    left: 11% !important;
	}
	.menu-blog{
    	font-size: 15px;
	    top: -26px !important;
	    left: 41% !important;
	}
	#marcas img{
		width: 30% !important;
	}
	.redes{
		margin-bottom: 2% !important;
		margin-top: 2% !important;
	}
	.square{
		    padding: 2%!important;
	}
	.datos-contacto{
		margin-top: 5% !important;
	}
}
